* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

::selection {
    background: #4cb563;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #46b05d; 
    border-radius: 50px;
  }

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
    background: #e5f7ee;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.main_font {
    font-family: sans-serif;
    font-weight: bolder;
    position: relative;
    top: 50px;
    font-size: 45px;
}

.introduction_name  {
    font-family: sans-serif;
    font-weight: 500;
    position: relative;
    top: 80px;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    color: #46b05d;
}

.introduction_details {
    position: relative;
    top: 100px;
    font-size: 20px;
    font-family: system-ui;
    text-align: center;
    line-height: 35px;
    color: #545e56;
}

.ketupat_img {
    position: relative;
    top: 180px;
    animation-name: spin;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.PUASA_name  {
    font-family: sans-serif;
    font-weight: 500;
    position: relative;
    top: 300px;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    color: #46b05d;
}

.PUASA_details {
    position: relative;
    top: 320px;
    font-size: 20px;
    font-family: system-ui;
    text-align: center;
    line-height: 35px;
    color: #545e56;
}

.activity_name  {
    font-family: sans-serif;
    font-weight: 500;
    position: relative;
    top: 480px;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    color: #46b05d;
}

.box {
    position: relative;
    top: 480px;
    width: 500px;
    height: min-content;
    padding: 30px;
    margin-top: 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    text-align: center;
}

.box .activity_img {
    border-radius: 0%;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.box span {
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    top: 10px;
    font-size: 18px;
}

.ending_part {
    position: relative;
    top: 500px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
